//白色
//使用范围：产品图片的背景色，图标的背景颜色，深背景色控件上的文字颜色；
//-----------------------------------------------
$color-white:#FFFFFF;

//黑色
//使用范围：产品标题颜色
//-----------------------------------------------
$color-black:#000000;

//浅灰色
//使用范围：主要用于界面的背景颜色
//-----------------------------------------------
$color-light-grey:rgb(247,247,247);

//灰色
//使用范围：主要用于各类标题栏颜色，控件边框颜色
//-----------------------------------------------
$color-grey:rgb(229,229,229);

//灰黑色
//使用范围：主要用于描述文字的颜色
//-----------------------------------------------
$color-grey-black:rgb(64,64,64);

//蓝色
//使用范围：主要用于选中的控件，可触控操作的控件，图标的线条颜色，突出商品名称文字的颜色
//-----------------------------------------------
$color-blue:rgb(0,133,208);

//浅绿色
//使用范围：主要出现在logo部分
//-----------------------------------------------
$color-light-green:rgb(142,195,41);

//红色
//使用范围：主要用于要突出的文字描述
//-----------------------------------------------
$color-red:rgb(244,12,70);

//
//使用范围：
//-----------------------------------------------


//
//使用范围：
//-----------------------------------------------