//医院等级
//-----------------------------------------------
.icon-level{
  position: absolute;
  display:block;
  top:0px;
  left: 0px;
  width: 16px;
  height: 16px;
  background: url(../Images/hos_level.png);
}
//医院类别
//-----------------------------------------------
.icon-type{
  position: absolute;
  display:block;
  top:0px;
  left: 0px;
  width: 16px;
  height: 16px;
  background: url(../Images/hos_type.png);
}
//搜索
//-----------------------------------------------
.icon-search{
  position: absolute;
  display:block;
  width: 16px;
  height: 16px;
  background: url(../Images/icon_search.png);
}

